<%= render "shared/header" %>

<div class="main">
<%#YouTubeへの遷移%>
    <div class="list_training">
      <%= link_to image_tag("youtube.png", class:"youtube-icon"), "/"%>
<%#YouTubeへの遷移%>
      <%= link_to image_tag("toraining_logo2.png", class:"youtube-icon"), "/"%>
    </div>
    <div class="list_name">
    <h2>YouTubeで動画をみる</h2>
    <h2>今日のトレーニングを投稿する</h2>
    </div>

    <div class="contents">
    
    
    </div>

</div>