
  .training-icon {
    width: 100vw;
    height: 35vh;
  }
  h1 {
    text-align: center;
    color: blue;
  }
  h2 {
    text-align: center;
  }


.title {
  font-size: 30px;
}

.lists {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.login {
  text-decoration: none;
  margin-right: 10px;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
.user-nickname {
  text-decoration: none;
  margin-right: 10px;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.list_training {
  display: flex;
}

.youtube-icon {
  width: 50vw;
  height: 30vh;
}

.list_name {
  display: flex;
  justify-content: space-around;
}